:root {
    --neon-purple: #bc13fe;
    --neon-cyan: #05ffa1;
    --bg-dark: #0d0221;
}

body {
    background-color: var(--bg-dark);
    color: var(--neon-cyan);
    font-family: 'VT323', monospace;
    margin: 0; overflow: hidden;
}

.game-wrapper {
    display: flex;
    height: 100vh;
    padding: 20px;
    gap: 15px;
    box-sizing: border-box;
}

.side-panel {
    flex: 1;
    border: 2px solid var(--neon-purple);
    background: rgba(188, 19, 254, 0.05);
    box-shadow: 0 0 15px var(--neon-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.main-terminal {
    flex: 2;
    border: 2px solid var(--neon-cyan);
    box-shadow: inset 0 0 20px var(--neon-cyan), 0 0 10px var(--neon-cyan);
    background: black;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Imagen y Barras */
.pixel-img {
    width: 120px;
    height: 120px;
    image-rendering: pixelated;
    margin-bottom: 20px;
}

.hp-bar-container {
    width: 100%;
    height: 20px;
    background: #333;
    border: 1px solid white;
}

.hp-fill {
    height: 100%;
    width: 100%;
    background: var(--neon-cyan);
    transition: width 0.3s ease;
}

#timer-display {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #ff0055;
    text-shadow: 0 0 10px #ff0055;
}

/* Botones de opción */
.option-btn {
    display: block;
    width: 100%;
    background: transparent;
    color: var(--neon-cyan);
    border: 1px solid var(--neon-cyan);
    margin: 5px 0;
    padding: 10px;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: left;
}

.option-btn:hover {
    background: var(--neon-cyan);
    color: black;
}
